
* {
	box-sizing: border-box;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	background: #EFEFEF;
}

.box {
	max-width: 50%;
	padding: 10px;
	margin: 5px 0 5px 5px;
	background: beige;
}

.box:first-of-type {
	margin-left: 0;
}

.box:last-of-type {
	background: rgba(0,0,0,.01);
}