

*, *:before, *:after {box-sizing: border-box; margin: 0;padding: 0;}

.container {
	padding: 40px 30px;
}

.dark {
	background: #DFDFDF;
}

.row {
	display: -webkit-box;display: -ms-flexbox;display: flex;
	/*background: green;*/
	max-width: 960px;
	margin: 0 auto 30px;
}

.row:last-child {margin-bottom: 0;}

.box {
	background: #FAFAFA;
	background: #F4EFEF;
	padding: 20px;
}

.zero-pad,
.no-pad > .box {
	padding: 0;
}

.col-2,
.col-3,
.col-4,
.col-5 {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}


.col-2 .box {
	flex-basis: calc(50% - 30px);
}

.col-3 .box {
	flex-basis: calc(33.33% - 30px);
}

.col-4 .box {
	flex-basis: calc(25% - 30px);
}

.col-5 .box {
	flex-basis: calc(20% - 30px);
}

@media screen and (max-width: 768px) {

	.dark {background: #FFBB00;}

	.col-4 .box {
		flex-basis: calc(50% - 30px);
		margin-bottom: 30px;
	}

	.col-5 {
		align-content: flex-start;
	}

	.col-5 .box {
		flex-basis: calc(33.33% - 30px);
		margin-bottom: 30px;
	}

} /* 768px media end */
