
body{
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

#nav-wrap {
	color: #FFF;
	background: #333;
	position: relative;
	max-width: 900px;
	margin: 0 auto;
}

.center {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}


#nav-wrap a {
	color: inherit;
	text-decoration: none;
}

#logo {
	/*background: red;*/
	padding: 10px 20px;
	line-height: 30px;
	font-weight: bold;
	font-size: 30px;
}

nav {
	background: #47a3e5;
	/*transition: all .5s;*/
}

#ham {
	/*background: blue;*/
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 20px;
	cursor: pointer;
	line-height: 30px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

nav {
	display: none;
}

nav.open {
	display: block;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	transition: all .5s;
}

nav ul li {
	border-top: 1px solid #50b0f4;
	border-bottom: 1px solid #378fce;
}

nav ul a {
	display: block;
	padding: 10px 20px;
	line-height: 30px;
}

nav ul a.active,
nav ul a:hover {
	background: rgba(0,0,0,.1);
}

@media screen and (min-width: 600px) {

	#ham {display: none;}

	#nav-wrap {
		display: flex;
	}

	#logo {
		flex-basis: 100px;
	}

	nav {
		display: block;
		flex-grow: 1;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
	}

	nav ul li {border: none;}

} /* 600px media end */