/*
	FEIGHT Flexbox Grid
	Feb 2018
*/

/* Basic styles */

html {
	overflow-y: scroll;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	color: #222;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

p {margin: 0;}
p ~ p {margin-top: 10px;}


/* ================================================
	Top Navigation + Logo
=================================================== */

.container-top {
	width: 100%;
	background: #333;
}

.container-top,
.container-top a {
	color: #F9F9F9;
	text-decoration: none;
}

.center-wrap {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

.nav-wrap {
	display: flex;
	align-content: space-between;
}

#ham {
	line-height: 20px;
	padding: 20px;
	display: none;
	font-weight: bold;
	font-size: 30px;
}

#logo {
	flex: 1;
}

#logo a {
	display: block;
	line-height: 20px;
	font-weight: bold;
	font-size: 22px;
	padding: 20px 0;
}

#navigation a {
	display: inline-block;
	padding: 20px;
	line-height: 20px;
}

#navigation a:hover,
#navigation a.active {
	background: #555;
}

@media screen and (max-width: 640px) {

	#navigation.topnav {
		display: none;
	}

	#navigation.topnav.responsive {
		display: block;
	}

	.center-wrap {
		padding: 0 0;
	}

	.nav-wrap {
		flex-wrap: wrap;
	}

	#logo {
		margin-left: 20px;
	}

	#ham {
		display: block;
	}

	#navigation {
		width: 100%;
		flex-basis: 100%;
	}

	#navigation a {
		width: 100%;
		line-height: 1.2;
		padding: 10px 20px;
		border-top: 1px solid rgba(250,250,250,.1);
	}

} /* 640px media end */

/* ================================================
	Top Navigation + Logo END
=================================================== */

/* Layout: container and center wrapper; */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 20px 30px;
	background: rgba(250,250,250,.95);
}

.container:nth-child(even) {
	background: rgba(0,0,0,.08);
}

.container > .wrap {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media screen and (max-width: 640px) {

	.container > .wrap {
		padding-left: 0px;
		padding-right: 0px;
	}

} /* 640px media end */

/* .row is container for flex items (.unit)  */

.row {
	max-width: 960px;
	margin: 0 auto;
	/*background: oldlace;*/
	display: flex;
}

/* .unit must be in a .row */

.unit {
	/*background: bisque;*/
	padding: 0 20px 50px;
}

.inset {
	background: rgba(0,0,0,.1);
	padding: 20px;
	border-radius: 4px;
}

.o-coloane,
.doua-coloane,
.trei-coloane,
.patru-coloane,
.cinci-coloane {
	flex-wrap: wrap;
}

.o-coloane,
.doua-coloane > .unit,
.trei-coloane > .unit,
.patru-coloane > .unit,
.cinci-coloane > .unit {
	/*padding-bottom: 40px;*/
}

.o-coloane > .unit {
	max-width: 100%;
	flex-basis: 100%;
}

.doua-coloane > .unit {
	max-width: 50%;
	flex-basis: 50%;
}

.trei-coloane > .unit {
	max-width: 33.33%;
	flex-basis: 33.33%;
}

.patru-coloane > .unit {
	max-width: 25%;
	flex-basis: 25%;
}

.cinci-coloane > .unit {
	max-width: 20%;
	flex-basis: 20%;
}

@media screen and (max-width: 640px) {

	body {background: papayawhip;}

	.row {
		flex-direction: column;
	}

	.unit {
		padding: 0 0 50px 0;
	}

	.o-coloane > .unit,
	.doua-coloane > .unit,
	.trei-coloane > .unit,
	.patru-coloane > .unit,
	.cinci-coloane > .unit {
		max-width: 100%;
		flex-basis: 100%;
		/*padding: 0 0 50px 0;*/
	}

} /* 640px media end */