/*--------------------------------------------------------------
	FBX Grid
	Flexbox based grid
	May 2017
	v 1.0
--------------------------------------------------------------*/

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Full width container */

.container {
	width: 100%;
	margin: 0 auto;
}

/* Darker background for container */

.container.darker {
	background: rgba(0,0,0,.05);
}

.container.col2-container {
	background: rgba(0,0,0,.2);
	padding: 40px 0 20px;
}

.container.col3-container {
	background: #e1ddc9;
	padding: 40px 0 20px;
}

.container.col4-container {
	background: rgba(0,0,0,.4);
	padding: 40px 0 20px;
}

/* Add padding in container, top & bottom */

.padd-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.no-padd {
	padding-top: 0;
	padding-bottom: 0;
}

/* Center things */

.center {
	max-width: 880px;
	margin: 0 auto;
	padding: 0 20px;
}

/* Full width container */
/* .columns :: container for columns; */

.columns {
	display: flex;
	background: pink;
}

/* .column :: single column. must be in columns; */

.column {
	flex: 1 1 0%;
	border: 1px solid #EFEFEF;
	background: white;
}

.columns > .column:not(:first-child) {
	margin-left: 20px;
}

@media screen and (max-width: 660px) {

	.columns {
		flex-flow: row wrap;
	}

	.column {
		flex: 1 100%;
	}

	.columns > .column:not(:first-child) {
		margin-left: 0;
		margin-top: 20px;
	}

} /* 660px media end */



/* ================================================
	2, 3, 4 Columns, multiple rows
=================================================== */

.columns-2,
.columns-3,
.columns-4 {
	display: flex;
	flex-wrap: wrap;
	margin-right: -24px;
	/*justify-content: space-between;*/
}

.columns-2 .column,
.columns-3 .column,
.columns-4 .column {
	margin-right: 24px;
	margin-bottom: 24px;
}

.columns-3 .column {
	flex-basis: calc(50% - 24px);
	max-width: calc(50% - 24px);
}

.columns-3 .column {
	flex-basis: calc(33.333% - 24px);
	max-width: calc(33.333% - 24px);
}

.columns-4 .column {
	flex-basis: calc(25% - 24px);
	max-width: calc(25% - 24px);
}

@media screen and (max-width: 720px) {

	.columns-3 .column,
	.columns-4 .column {
		flex-basis: calc(50% - 24px);
		max-width: calc(50% - 24px);
	}

} /* 720px media end */

@media screen and (max-width: 580px) {

	.columns-2 .column,
	.columns-3 .column,
	.columns-4 .column {
		flex-basis: calc(100% - 24px);
		max-width: calc(100% - 24px);
	}

} /* 580px media end */

.inset {
	padding: 20px;
	background: rgba(0,0,0,.55);
	color: #FFF;
}