
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #444;
}

h3 {
	margin: 15px 0;
}

h3:first-child {
	margin: 0 0 15px;
}

p {margin-bottom: 8px;}
p:last-child {margin-bottom: 0;}